<div>
    <h3>Here are all the products</h3>
   	<ul class="product">
	    <li *ngFor="let product of products" >
	        <img *ngIf="product.isFavourite" (click)="changeState(product.id)" src="../../images/filledStar.png" display="block" width="1%" height="1%" />
	        <img *ngIf="!product.isFavourite" (click)="changeState(product.id)" src="../../images/unfilledStar.png" display="block" width="1%" height="1%" />
	        <span>{{product.name}}</span>
	        <img [routerLink]="['/edit-product/', product.id]" src="../../images/editIcon.png" />
	        <img (click)="deleteProduct(product.id)" src="../../images/deleteButton.png" />
	    </li>
	</ul>
</div>